/* index  */
body{
  background-color: steelblue;
}
header {
  background: DodgerBlue;
}

header::after {
  content: "";
  display: table;
  clear: both;
}


img.nav{
  padding-top:20px;
  padding-left:15px;
  height:65px;
  float: left;
}

nav ul {
  float:right;
  list-style: None;
}

nav li {
  padding: 10px;
  margin:10px;
  display: inline-block;
}

nav a{
    text-decoration:none;
  text-transform:Uppercase;
  font-size: 30px;
  color: darkblue;
}

nav a:hover{
  color: white;
}

/* project */

/* about me */

/* contact */

.info {
  margin: 30px;
  border: 20px;
  padding: 40px;
  font-size: 40px;
  text-align: center;
}

h1.contact-page {
  font-size: 60px;
  text-align: center;
}

img.contact-page {
  height: 10%;
  width: 10%;
  margin: 50px;
  padding: 150px;
  padding-right:20px;
  display:center;

}
/* message */
label.message{
  padding:50px;
  margin:60px;
  border:20px;
}