/* index  */
body {
  background-color: DarkTurquoise;
  position:relative;
}
body.index{
  padding-bottom:70%;
}
body.aboutme{
  padding-bottom:90%;
}
body.project{
  padding-bottom:140%;
}
header {
  background: DodgerBlue;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

img.nav {
  padding-top: 20px;
  padding-left: 15px;
  height: 65px;
  float: left;
}

nav ul {
  float: right;
  list-style: None;
}

nav li {
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

nav a {
  text-decoration: none;
  text-transform: Uppercase;
  font-size: 30px;
  color: darkblue;
}

nav a:hover {
  color: white;
}



/* project */



.container {
    width: 800px;
    margin: auto;
}
#first {
    width: 400px;
    float: left;
    height: 400px;
    background-color: blue;
}
#second {
    width: 400px;
    float: right;
    height: 400px;
    background-color: green;
    color: white;
}

.container1{
    width: 800px;
    margin: auto;
}
#first1{
    width: 400px;
    float: left;
    height: 400px;
    background-color: blue;
}
#second1{
    width: 400px;
    float: right;
    height: 400px;
    background-color: green;
    color: white;
}


.title-pc{
  font-size:60px;
  color:blue;
}



















/*pc*/
div.pc {

  margin: 25px;
  padding: 10px;
  border: 5px solid black;
  float: left;
  width: 350px;
  margin:20px;
}

div.pc:hover {
  border: 5px solid MediumSpringGreen;
}
div.pc-name {
  font-size: 40px;
  text-align: center;
}
div.pc img {
  width: 100%;
  height: auto;
}

div.pcdesc {
  padding: 15px;
  text-align: center;
}

/*ps*/
div.ps {
  margin: 15px;
  padding: 25px;
  border: 5px solid black;
  float: left;
  width: 180px;
}

div.ps:hover {
  border: 1px solid #777;
}
div.ps-name {
  font-size: 40px;
  text-align: center;
}
div.ps img {
  width: 100%;
  height: auto;
}

div.psdesc {
  padding: 15px;
  text-align: center;
}

/*xbox*/
div.xbox {
  margin: 15px;
  padding: 25px;
  border: 5px solid black;
  float: left;
  width: 180px;
}

div.xbox:hover {
  border: 1px solid #777;
}
div.xbox-name {
  font-size: 40px;
  text-align: center;
}
div.xbox img {
  width: 100%;
  height: auto;
}

div.xboxdesc {
  padding: 15px;
  text-align: center;
}

/*games*/
div.games {
  margin: 15px;
  padding: 25px;
  border: 5px solid black;
  float: left;
  width: 180px;
}

div.games:hover {
  border: 1px solid #777;
}
div.games-name {
  font-size: 40px;
  text-align: center;
}
div.games img {
  width: 100%;
  height: auto;
}

div.gamesdesc {
  padding: 15px;
  text-align: center;
}

/*other*/
div.other {
  margin: 15px;
  padding: 25px;
  border: 5px solid black;
  float: left;
  width: 180px;
}

div.other:hover {
  border: 1px solid #777;
}
div.other-name {
  font-size: 40px;
  text-align: center;
}
div.other img {
  width: 100%;
  height: auto;
}

div.otherdesc {
  padding: 15px;
  text-align: center;
}

/* about me */
.box1 {
  position: absolute;
  display: flex;
  padding-top: 30px;
}
.box1 img {
  height: 650px;
  width: 650px;
  padding-left: 100px;
}
.box1 h2 {
  font-size: 65px;
  text-align: center;
  padding-bottom: 0px;
}
.box1 p {
  line-height: 45px;
  text-align: center;
  font-size: 30px;
  padding-left: 70px;
  padding-right: 70px;
}
.box2 {
  position: absolute;
  display: flex;
  padding-top: 750px;
}
.box2 img {
  height: 600px;
  width: 750px;
  padding-right: 100px;
}
.box2 h2 {
  font-size: 65px;
  text-align: center;
  padding-bottom: 0px;
}
.box2 p {
  line-height: 45px;
  text-align: center;
  font-size: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

/* contact */
a.info {
  border: 2px;
  border: double;
}
.info {
  margin: 30px;
  padding: 30px;
  padding-right: 120px;
  padding-left: 70px;
  font-size: 60px;
  text-align: center;
  text-decoration: none;
  color: darkblue;
}

.info:hover {
  color: white;
}
main.contactpage {
  font-family: "Abel", sans-serif;
}
h1.contact-page {
  font-size: 85px;
  text-align: center;
}

img.contact-page {
  height: 10%;
  width: 10%;
  padding-right: 50px;
  padding-left: 300px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: center;
}

/* message */
label.message {
  padding: 50px;
  margin: 60px;
  border: 20px;
}





/*footer*/
footer{
  position: absolute;
  bottom:0px;
    padding-top: 50px;
}
.footer-distributed{
	background: dodgerblue;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 15px 30px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 42%;
  padding-left:50px;
}
.footer-distributed .footer-company-name{
  color: white;
}

}

/* Footer links */

.footer-distributed .footer-links{
	color:  white;
	margin: 20px 0 12px;
	padding: 0;
}


/* Footer Center */

.footer-distributed .footer-center{
	width: 33%;
  padding-top:18px;
}


.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}







/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}
p.footer-company-about span{
  font-size:25px;
  color:black;

}


.footer-distributed .footer-company-about{
  padding-top:6px;
}

.footer-distributed h6{
  color:white;
  font-size:15px;
 
}