/* index  */
body {
  background-color: DarkTurquoise;
}
header {
  background: DodgerBlue;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

img.nav {
  padding-top: 20px;
  padding-left: 15px;
  height: 65px;
  float: left;
}

nav ul {
  float: right;
  list-style: None;
}

nav li {
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

nav a {
  text-decoration: none;
  text-transform: Uppercase;
  font-size: 30px;
  color: darkblue;
}

nav a:hover {
  color: white;
}

/* project */

/* about me */

.box1{
  position:absolute;
  display:flex;
}

/* contact */
a.info{
    border: 2px;
  border:double;
}
.info {
  margin: 30px;
  padding: 30px;
  padding-right: 120px;
  padding-left: 70px;
  font-size: 60px;
  text-align: center;
  text-decoration: none;
  color: darkblue;
}

.info:hover {
  color: white;
}
main.contactpage {
font-family: 'Abel',sans-serif;
}
h1.contact-page {
  font-size: 85px;
  text-align: center;
}

img.contact-page {
  height: 10%;
  width: 10%;
  padding-right: 50px;
  padding-left: 300px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: center;
}

/* message */
label.message {
  padding: 50px;
  margin: 60px;
  border: 20px;
}
